node_modules/
dist/
coverage/
coverage.json
typechain-types/
.env
.env.local
*.log
.cache/
artifacts/
cache/
frontend/.next/
frontend/node_modules/
frontend/.env.local
frontend/.env
dapp/.next/
dapp/node_modules/
dapp/.env.local
dapp/.env

